html {
  font-size: 16px;
  background-color: var(--color-background);
  color: var(--color-lettercolor);
  
  /*Farbschema*/
  --color-background: white;
  --color-lettercolor: black;
  --color-lettercolorHeaderFooter: black;
  --color-g1-header: snow;
  --color-g2-header: beige;
  --color-g1-footer: gainsboro;
  --color-g2-footer: white;
  --color-badge: navajowhite;
  --color-border: grey;
  --color-selection: #deb88794;
  --color-nav: brown;
  --color-nav_hover: coral;
  --color-nav_active: crimson;
}

/*DARK THEME Farbschema*/
@/*media screen and (prefers-color-scheme: dark) {
  html {
    --color-background: black;
    --color-lettercolor: white;
  }
}*/

/*fuer mittlere Bildschirme*/
@media screen and (min-width: 786px) {
  html {
    font-size: 18px;
  }
}

/*fuer groeßere Bildschirme*/
@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}
@media print {
  .hire-me {
    display: none;
  }
  nav {
    display: none;
  }
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
html {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Gill Sans, Calibri;
}

.style-header {
  text-align: center;
  padding: 2rem;
  background-image: linear-gradient(
    90deg,
    var(--color-g1-header) 0%,
    beige 45%,
    beige 55%,
    var(--color-g1-header) 100%
  );
}
.header-group {
  font-size: 4rem;
}
.h1-header {
  font-size: 1em;
}
.p-header {
  font-size: 0.25em;
}
.p-header::after {
  content: " ✔️ ";
}
.hire-me {
  /*hire me button oben rechts*/
  background-color: var(--color-badge);
  padding: 0.75rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 0.625rem;
  @media screen and (min-width: 992px) {
    position: fixed;
  }
}
/*nav-link Eigenschaften*/
.nav-flex {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 786px) {
    flex-direction: row;
    justify-content: center;
  }
}
nav a {
  color: var(--color-nav);
}
nav a:hover {
  color: var(--color-nav_hover);
}
nav a:active {
  color: var(--color-nav_active);
  font-size: larger;
}
.nav-abstand-20 {
  margin-left: 1.25rem;
}
.style-haupt {
  max-width: 70ch; /*max 70 zeichen Breite*/
  padding: 4rem; /*Platz zw Main Elementen*/
  margin: 0 auto;

  @media screen and (min-width: 786px) {
    padding: 5rem;
  }
  @media screen and (min-width: 992px) {
    padding: 6rem;
  }
}

/*Border über alle article ausser erstes, als Trenner*/
haupt > article + article {
  border-top: 0.125rem solid var(--color-border);
}

::selection {
  background-color: var(--color-selection);
}

.oneline-header {
  display: inline-block;
}
.oneline-subheader {
  display: inline-block;
}

.heading-flex {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 786px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.offsetleft {
  position: relative;
  left: -1rem;
}

footer {
  padding: 2rem;
  background-image: linear-gradient(
    var(--color-g2-footer) 20%,
    var(--color-g1-footer) 30%
  );
}

.footer-text {
  text-align: center;
  position: relative;
  top: 1rem;
}
