* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
html {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Gill Sans, Calibri;
}

.style-header {
  text-align: center;
  padding: 32px;
  background-color: beige;
}
.style-haupt {
  max-width: 800px;
  margin-left: 15%;
  padding: 64px; /*Platz zw Main Elementen*/
}

/*nav-link Eigenschaften*/
nav a {
  color: brown;
}
nav a:hover {
  color: coral;
}
nav a:active {
  color: crimson;
  font-size: larger;
}
.nav-abstand-20 {
  margin-left: 20px;
}

/*Border über alle article ausser erstes, als Trenner*/
haupt > article + article {
  border-top: 2px solid grey;
}

::selection {
  background-color: #deb88794;
}

.p-header::after {
  content: " ✔️ ";
}

.oneline-header {
  display: inline-block;
}
.oneline-subheader {
  display: inline-block;
}

.offsetleft {
  position: relative;
  left: -15px;
}
.hire-me {
  background-color: navajowhite;
  padding: 12px;
  position: absolute;
  top: 30px;
  right: 30px;
  border-radius: 10px;
}
